/* Bordered form */
.container{
    border:1px solid black;
}

.v-btn{
    
    position:relative;
    margin:10px;
    width:300px;
    color:black;
    padding:0 0px 0px 0px;
    text-align:center;
    margin-left:10px;
    display: inline-block;
    vertical-align: left;
}

form {
    
    padding: 10px 10px;

    display: inline-block;
    margin-left: center;
    margin-right: auto;
    text-align: left;
    
}

/* Full-width inputs */
input {
    margin-left: center;
    width: 70%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 20px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

label {
    display: inline-block;
    width:100px;
    text-align: right;
}

h1,h2,h3{
    text-align: left;
}

.button {
 
    /*basic styles*/
    width: 250px;  height: 50px;  color: white; background-color: #99CF00;
    text-align: center;  font-size: 30px;  line-height: 50px;
    
    
    /*gradient styles*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
    background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
    
    /*border styles*/
    border-left: solid 1px #d7dfc4;
    border-top: solid 1px #c3f83a;
    border-right: solid 1px #82a528;
    border-bottom: solid 1px #58701b;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;    
   }
    